@import "tailwindcss";
@plugin "daisyui";

/* Global font and color setup */
:root {
  --font-primary: "Montserrat", Helvetica, Arial, sans-serif;
  --color-primary: #00c4f4; /* Example: Bootstrap blue */
  --color-secondary: #e8b763; /* Gold-like color */
  --color-dark: #1e293b; /* Slate dark */
  --color-light: #f8fafc; /* Light gray */
  --white-color: #fff;
  --black-color: #000;
  --accent-color: #00080e;
}

@layer utilities {
  .radial-bg {
    background: radial-gradient(
      circle at top,
      #38337a 0%,
      rgba(10, 15, 30, 0.95) 70%
    );
  }
}
@theme {
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  --animate-marquee: marquee 40s linear infinite;
}
/* .works-box ul:nth-child(2){
  font-size: 3rem;
} */

html,
body {
  font-family: var(--font-primary);
  background-color: var(--color-light);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1 {
  font-size: 3.6rem;
  font-weight: 900;
  text-transform: uppercase;
}
h2 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-primary);
  text-transform: uppercase;
}
h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--color-primary);
  text-transform: uppercase;
}
/* .hero-section{
  background-image: url('../public/assets/universe-img.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 36%;
} */
.choose-box {
  box-shadow: 0px 0px 21px 5px #010b45;
}
.choose-box .features-col {
  position: relative;
}
.choose-box .features-col::before {
  content: "";
  width: 2px;
  background: linear-gradient(
    90deg,
    rgba(34, 36, 51, 0.538) 0%,
    rgba(92, 93, 105, 0.505) 50%,
    rgba(34, 36, 51, 0.538) 0%
  );
  height: 100%;
  position: absolute;
  right: -16px;
  border-radius: 100%;
}
.choose-box .features-col:last-child::before {
  content: "";
  width: 0px;
}

/* tab style */

.priceTabUl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #1f2146;
  border-radius: 100px;
  width: 520px;
  margin: 0 auto;
  padding: 10px;
}
.priceTabUl li {
  border-radius: 100px !important;
}
.priceTab .react-tabs__tab-list {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
  width: fit-content;
  margin: 0 auto;
}
.priceTab .react-tabs__tab-list li {
  color: #fff;
  font-weight: 800;
}
.priceTab .react-tabs__tab-list li:hover {
  color: #181818;
}
.react-tabs__tab-list {
  border: none !important;
}
.react-tabs__tab--selected {
  background-color: #032070 !important;
  border-radius: 0 !important;
  color: #fff !important;
  border-radius: 100px !important;
}
.InnerPriceTab .react-tabs__tab-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #1f2146 !important;
  border-radius: 100px;
  width: fit-content;
  margin: 0 auto;
  gap: 4px;
  width: 100%;
  background-color: #000b1f;
}
.InnerPriceTab .react-tabs__tab-list li {
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6px 30px;
}

.evalution-phase {
  background-image: url("../public/assets/black-abstract-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.phase-box .funded {
  background-image: url("../public/assets/blue-bg-light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.comparision-box {
  background-image: url("../public/assets/blue-bg-light.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.stats-col:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 140px;
  background: var(--accent-color);
  right: -10px;
  z-index: 11;
}
.stats-col:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 140px;
  background: var(--accent-color);
  left: -10px;
  z-index: 11;
}
.trade-col {
  background-image: url("../public/assets/blue-bg-light.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.certImg:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 140px;
  background: var(--accent-color);
  left: -10px;
  z-index: 1111;
}
.certImg:after {
  content: "sass";
  position: absolute;
  width: 20px;
  height: 140px;
  background: var(--accent-color);
  right: 0;
  z-index: 111;
  border: 1px solid white;
}
.traders-world-col {
  background-image: url("../public/assets/blue-bg-light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.success-story {
  background-image: url("../public/assets/blue-bg-light.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes trustPilotmarquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-1000%);
  }
}

.trustPilot-marquee {
  display: flex;
  white-space: nowrap;
  animation: trustPilotmarquee 100s linear infinite;
}
.trustPilot-marquee:hover {
  animation-play-state: paused;
}
.email-pop {
  background: linear-gradient(
    180deg,
    rgba(34, 31, 74, 1) 11%,
    rgba(8, 6, 17, 1) 50%
  );
}
.emailInput::placeholder {
  color: #000;
}
.stats-col {
  transition: all ease 0.5s;
}
.stats-col:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgb(0, 196, 245, 0.993) 0px 2px 4px -1px;
  transition: all ease 1s;
}
.shape_circle_1 {
  top: 20%;
  left: 0;
}

.scale-plus-animation {
  animation: scalePulse 6s ease-in-out infinite; /* 👈 Add animation */
}
.shape_circle {
  opacity: 2.4;
  max-width: 480px;
  -webkit-filter: blur(10px);
  filter: blur(30px);
  rotate: 180deg;
  border: 1px solid white;
}

.decoration_item {
  z-index: 0;
  position: absolute;
}

.navy-bg-gradient {
  width: 889px;
  height: 662px;
  position: absolute;
  background: radial-gradient(
    48.69% 39.15% at 50.02% 50.04%,
    #000760 0.01%,
    #000760 23.96%,
    #42005300 90%
  );
  top: 0;
  right: 0;
  transform: translateY(-8%) rotate(40deg);
  z-index: 0;
}
.navy-left-side-gradient {
  width: 420px;
  height: 520px;
  position: absolute;
  background: radial-gradient(
    68.69% 49.15% at 50.02% 50.04%,
    #000760 0.02%,
    #000760 23.96%,
    #42005300 90%
  );
  bottom: 0;
  left: -13%;
  z-index: 0;
  opacity: 0.3;
  border-radius: 100%;
}
.navy-right-side-gradient {
  width: 420px;
  height: 520px;
  position: absolute;
  background: radial-gradient(
    68.69% 49.15% at 50.02% 50.04%,
    #000760 0.02%,
    #000760 23.96%,
    #42005300 90%
  );
  top: 0;
  right: -13%;
  z-index: 0;
  opacity: 0.3;
  border-radius: 100%;
}

@keyframes scalePulse {
  0% {
    transform: scale(1);
    opacity: 0.9;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.9;
  }
}

.ripple-shape2 {
  transform: skewX(220deg) translateX(-16%);
  top: -125px;
}
.ripple-shape2 {
  transform: skewX(220deg);
  position: relative;
  z-index: 0;
   top: 0;
  right: 0;
  opacity: 0.3;
}

.ripple-11 {
  width: 700px;
  height: 700px;
  position: absolute;
  right: 40px;
    top: 10%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid var(--color-accent);
  border-radius: 50%;
  animation: ripple2 3s linear infinite;
  opacity: 1;
  transition: 0.4s;
}
.ripple-12 {
  width: 700px;
  height: 700px;
  position: absolute;
  right: 40px;
    top: 10%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid var(--color-accent);
  border-radius: 50%;
  animation: ripple2 6s linear infinite;
  opacity: 1;
  transition: 0.4s;
}
 .ripple-13{
  width: 700px;
  height: 700px;
  position: absolute;
  right: 40px;
  top: 10%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 1px solid var(--color-accent);
  border-radius: 50%;
  animation: ripple2 9s linear infinite;
  opacity: 1;
  transition: 0.4s;
}

@keyframes ripple2 {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  10% {
    opacity: 0.6;
  }
  30% {
    opacity: 0.4;
  }
  40% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.14;
  }
  100% {
    transform: scale(3.5);
    opacity: 0;
  }
}

.hero-gradient-ball {
  height: 250px;
  width: 250px;
}

.hero-gradient-ball {
     background: radial-gradient(114.99% 94.16% at 72.92% 82.18%, #111111 47.39%, #091534 68.23%, #00c4f4 86.63%);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    position: absolute;
    right: 40px;
    bottom: 5%;
    z-index: 1;
    opacity: 0.3;
}

.upDownAnim{
  animation: upDownMover 3.5s ease-in-out infinite;
}
@keyframes upDownMover {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
}  
}

.scale-up {
  animation-name: scale-up-pulse;
  animation-duration:20s; 
  animation-iteration-count: infinite; 
  animation-timing-function: ease-in-out;
}

@keyframes scale-up-pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.btn-shadow{
    left: 0;
    right: 0;
    top: 100%;
    height: 100%;
    content: "";
    z-index: 1;
    opacity: 0.3;
    position: absolute;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    border-radius: 50%;
    -webkit-transition:all ease 400ms;
    transition: all ease 400ms;
    background-image: radial-gradient(#00c4f4, #a256ff, transparent);
}
.ico_creative_btn:hover .btn-shadow{
    left: 0;
    right: 0;
    top: 20%;
    height: 100%;
    content: "";
    z-index: 1;
    opacity: 0.3;
    position: absolute;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    border-radius: 50%;
    -webkit-transition: all ease 400ms;
    transition: all ease 400ms;
    background-image: radial-gradient(#00c4f4, #a256ff, transparent);
}
.ico_creative_btn:hover .btn-side-dot{
  border-color: #dddbdb;
}

.spin_image {
animation: spin 10s linear infinite;
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}


.scroll_down .scroll-icon
 {
    display: block;
    margin: -5px 0;
    line-height: 1;
    color: var(--bs-light);
    -webkit-animation: animationScrollDown 2s infinite;
    animation: animationScrollDown 2s infinite;
}
@keyframes animationScrollDown {
  
0% {
    opacity: 0;
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}
50% {
    opacity: 1;
}

100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
}
}



/* -----------media screen-------- */

@media (max-width: 330px) {
  h1 {
    font-size: 1.375rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-primary);
    text-transform: uppercase;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  h2 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-primary);
    text-transform: uppercase;
  }
}

@media (max-width: 991px) {
  .priceTabUl {
  width: 100%;
}
  h1 {
    font-size: 1.375rem;
    font-weight: 900;
    text-transform: uppercase;
  }
  h2 {
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-primary);
    text-transform: uppercase;
  }
  .navy-left-side-gradient {
  width: 320px;
  height: 320px;
}
.choose-box .features-col::before
 {
    width: 100%;
    height: 2px;
    bottom: -10px;
    margin-top: 20px;
 }
}

